# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\albao\Desktop\UNIVERSIDAD\SEMESTRE B\PROYECTO DISEÑO Y PROGRAMACIÓN WEB\SPRINT 3\USUARIO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
