@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*--------------------ESTO ES PARA TODOS LOS HTML USER--------------------*/
/*--------------------VARIABLES--------------------*/
:root {
    --fuente: Montserrat;
    --titulo: 2rem;
    --subtitulo: 1.5rem;
    --colorSubmenu: rgba(29, 156, 97, 0.39);
    --colorHeader: #198754;
    --sombraSubmenu: 0 0 50px #b3b3b3;
    --sombraItems: 0 0 50px grey;
    --sombraBotones: 0 0 60px grey;
    --redondeado: 30px;
    --fondoVerde: 200px;
    --circulo1: 150px;
    --topCirculo1: 205px;
    --circulo2: 120px;
    --topCirculo2: 220px;
}

body {
    background: white;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    max-height: 20%;
    display: flex;
    justify-content: space-between;
}

.cerrar_sesión {
    margin: 1rem 2rem;
}

.salir {
    max-width: 5rem;
    height: 5rem;
}

.logo_header {
    max-width: 10rem;
    height: auto;
    margin: 1rem 2rem;
}

.fondo_verde {
    width: 100%;
    height: var(--fondoVerde);
    background-color: var(--colorHeader);
    border: 1px solid var(--colorHeader);
}

.perfil {
    display: flex;
    justify-content: left;
}

/*.auxiliar {
    width: 100%;
    display: flex;
    justify-content: center;
}*/

.segundoCirculo {
    background-image: url("../normie/images/perfilejemplo.jpeg");
    background-size: cover;
    width: var(--circulo2);
    height: var(--circulo2);
    border: 2px solid grey;
    top: var(--topCirculo2);
    display: block;
    border-radius: 50%;
}

.nombre {
    color: #006629;
    font-family: var(--fuente);
    font-size: var(--titulo);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
    font-weight: bolder;
}

.ulsubmenu {
    justify-content: space-around;
}

.submenu_item,
.submenu {
    height: auto;
}

.submenu {
    margin: 0 auto;
    margin-right: 2rem;
}

.submenu_item {
    text-align: center;
    background-color: var(--colorSubmenu);
    padding: 1%;
    width: 160px;
    border-radius: 20px;
    transition: 1s;
}

.submenu_item:hover {
    box-shadow: var(--sombraSubmenu);
    width: 15rem;
    height: 50%;
}

.enlace {
    font-family: var(--fuente);
    color: black;
    font-size: var(--subtitulo);
    text-decoration: none;
    font-weight: bold;
}

#sondas, #mapas, #graficas {
    padding: 1.5%;
    background-color: var(--colorSubmenu);
    box-shadow: 0 0 20px grey;
}


.etiqueta {
    border-radius: 40px;
    padding-top: 1%;
    margin: 0 auto;
    border: 1px solid black;
    width: 800px;
    height: 350px;
    display: flex;
    justify-content: space-around;
}

.contenedor_img {
    text-align: center;
    font-family: var(--fuente);
    font-size: 120%;
}

.imagen_sonda {
    width: 87%;
    height: auto;
}

.listas {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: var(--fuente);
    font-size: 150%;
}

.lista1,
.lista2 {
    flex-direction: column;
    padding-bottom: 2%;
}

.primero {
    font-weight: bolder;
    padding-bottom: 25%;
}

.segundo {
    font-weight: bolder;
    padding-bottom: 55%;
}

.itemli {
    padding-bottom: 10%;
}

.itemli2 {
    padding-bottom: 20%;
}

.añadir {
    background-color: #defada;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    bottom: 20%;
}

.foto_añadir {
    border: none;
    max-width: 100%;
}

.padding {
    padding-top: 4%;
}

.linkNav {
    text-decoration: none;
    color: black;
}

/*-----------------------------------------------------------*/
/*------------------SONDAS--------------------*/
/*-----------------------------------------------------------*/
.iconos {
    display: flex;
    flex: 1 1 0;
    width: 5rem;
    height: auto;
    padding: 1rem;
}

.parcelas {
    max-width: 80%;
    height: 30%;
    background: var(--colorSubmenu);
    border-radius: 20px;
    margin: 2.5rem auto;
    display: flex;
    justify-content: space-around;
    flex: 1 1 0;
    border: none;
}

#naranjas, #manzanas, #fresas {
    max-width: 70%;
    padding: 2rem;
    margin: -2.5rem auto 2.5rem auto;
    background: rgba(29, 156, 97, 0.2);
    border-radius: 0 0 30px 30px;
}

.nombre_parcela {
    font-size: 2rem;
    margin: auto auto;
}

.separar_left {
    justify-content: left;
    display: flex;
    margin-right: 5rem;
    background: transparent;
    border: none;
}

.separar_right {
    justify-content: right;
    display: flex;
}

.btn {
    transition: none;
}

.btn-primary {
    color: black;
}

.btn:hover {
    border: none;
    transition: none;
}

.btn-primary:hover {
    background-color: transparent;
    color: black;
}

/*-----------------------------------------------------------*/
/*------------------MAPAS--------------------*/
/*----------------------------------------------------------*/
.recuadro_mapa {
    margin-top: 2.5rem;
    position: relative;
    margin-bottom: 2%;
}

#map {
    width: 90%;
    height: 90vh;
    border: black 1px solid;
    margin: auto auto;
    border-radius: var(--redondeado);
    box-shadow: var(--sombraItems);
}

/*-----------------------------------------------------------*/
/*------------------GRÁFICAS--------------------*/
/*----------------------------------------------------------*/
.chart-container {
    position: relative;
    padding: 2%;
    width: 60%;
    height: 50vh;
    border-radius: var(--redondeado);
    box-shadow: var(--sombraItems);
    margin: 50px auto;
}

.menu-desplegable {
    max-width: 50%;
}

.selector {
    box-shadow: 0 0 20px grey;
}

.alerta {
    margin: 0 auto 2%;
    width: 50%;
    transition: 2s;
}

.dropdown-item:hover {
    box-shadow: 0 0 60px #ababab;
}

.btn:hover {
    transition: 1s;
    box-shadow: var(--sombraBotones);
}

.alerta:hover {
    transition: 1s;
    box-shadow: var(--sombraBotones);
}

.selectores-graficas {
    margin: 0 auto 5%;
    max-width: 60%;
    display: flex;
    justify-content: space-around;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------ESTO ES PARA QUE SEA RESPONSIVE--------------------------*/
/*---------------------------------------------------------------------------------*/
@media (max-width: 700px) {
    :root {
        --titulo: 1.3rem;
        --subtitulo: 1rem;
        --redondeado: 30px;
        --fondoVerde: 170px;
        --circulo1: 120px;
        --topCirculo1: 160px;
        --circulo2: 90px;
        --topCirculo2: 175px;
    }

    .BarraNav {
        height: auto;
        text-decoration: none;
    }

    .suprema {
        padding: 0;
    }

    .logo_header {
        width: 7rem;
    }

    .salir {
        width: 3rem;
        height: 3rem;
    }

    .nombre {
        padding-top: 15%;
    }

    .etiqueta {
        width: 350px;
        height: 200px;
    }

    .contenedor_img {
        margin-left: 4px;
        width: 135px;
        font-size: 80%;
    }

    .item {
        margin-left: 5px;
    }

    .imagen_sonda {
        width: 140%;
        border-radius: 100%;
    }

    .listas {
        margin-right: 10px;
        font-size: 100%;
    }

    .añadir {
        width: 40px;
        height: 40px;
    }

    .ulsubmenu {
        text-align: center;
    }

    .submenu_item {
        margin-left: 10px;
        margin-right: 2px;
        padding: 3%;
    }

    .recuadro_mapa {
        margin-bottom: 2%;
    }

    #mapas {
        margin-right: 47px;
        padding: 4%;
    }

    #sondas {
        padding: 4%;
    }

    #map {
        border-radius: 0;
        width: 100%;
        height: 70vh;
    }

    .chart-container {
        width: 85%;
    }

    .menu-desplegable {
        width: 100%;
        padding-bottom: 10%;
        margin-left: 15%;
    }

    .alerta {
        width: 70%;
        margin: 5% auto;
    }

    .selectores-graficas {
        margin: 0 auto;
        max-width: 60%;
        display: flex;
        flex-direction: column;

    }

    .separar_left {
        margin-right: 2rem;
    }
}

@media (max-width: 450px) {

    .nombre_parcela {
        font-size: 1.5rem;
    }

    .parcelas {
        max-width: 100%;
        height: 4.5rem;
    }

    .iconos {
        width: 3rem;
        padding: 0;
    }

    .separar_right .iconos {
        margin-top: 0.5rem;
    }

    .iconos {
        padding: 0.5rem;
    }
}



