@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.sensores{
    background-color: white;
    position: relative;
    transform: skewY(-10deg);
    height: 700px;
    margin-top: 10%;
}
.girar{
    transform: skewY(10deg);
}
.ajustar{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 1rem auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-grow: 1;
}
.imagenes{
    width: 370px;
    height: 370px;
    border-radius: 15%;
}
.tituloservicios{
    font-family: "Yanone Kaffeesatz";
    font-size: 900%;
    color: white;
    text-align: center;
    margin: 30px;
    padding-top: 10%;
    text-transform: uppercase;
}
.subtitulosensores{
    font-family: "Yanone Kaffeesatz";
    font-size: 450%;
    color: white;
    text-align: center;
    margin: 50px;
    padding-top: 10%;
    text-transform: uppercase;
}
.morado{
    color: #8343a1;
}
.textow{
    color: white;
    font-family: "Montserrat";
    font-size: 160%;
    margin: 10px;
}
.textom{
    color: #8343a1;
    font-family: "Montserrat";
    font-size: 160%;
    margin: 10px;
    font-weight: bold;
}