
body{
    margin:0;
}
/*------------------HEADER-------------------*/
header{
    max-height: 20%;
    display: flex;
    justify-content: space-between;
}
.logo_header{
    max-width: 40%;
    height: auto;
    margin: auto 2rem;
}
.menu_header{
    max-width: 4rem;
    height: auto;
    margin: auto 2rem;
}
/*-------------------------------------------*/

/*-----------------PERFIL--------------------*/
.verde{
    background: #29B21A;
    height: 15rem;
    display: flex;
    align-items: center;
}
.imagen_user{
    border-radius: 50rem;
    width: 8rem;
    height: 8rem;
    align-items: center;
    margin-left: 2rem;
}
.nombre_user{
    text-align: center;
    margin-left: 2rem;
}
/*-------------------------------------------*/

/*------------------FILTRO-------------------*/
.filtro{
    margin: 3rem 5rem;
    display: flex;
    justify-content: space-between;
}
.enlace{
    text-decoration: none;
    background: rgba(41, 178, 26, 0.4);
    padding: 0.5rem 2rem;
    border-radius: 7px;
    color: black;
}
/*-------------------------------------------*/

/*------------------MAPAS--------------------*/
.recuadro_mapa{
    position: relative;
    background: rgba(41, 178, 26, 0.4);
}
.editar{
    display: flex;
    align-items: center;
    margin: 0 3rem;

}
.nombre_mapa{
    margin: 1rem auto;
    font-size: 3rem;
}
.ediatar_imagen{
    width: 3rem;
    margin: 1rem auto;
}

#map{
    width: 90%;
    height: 90vh;
    border: black 1px solid;
    margin: auto auto;
    border-radius: 5px;
}
.buscar_sondas{
    text-align: center;
}
input{
    border-radius: 5px;
}
/*-------------------------------------------*/

/*------------------RESPONSIVE----------------*/
@media(max-width:500px){

    header{
        height: 10%;
    }
    .logo_header{
        max-width: 30%;
    }
    .menu_header{
        width: 13%;
    }
    .verde{
        max-height: 6rem;
        flex-direction: column;
    }
    .imagen_user{
        max-width: 90px;
        max-height: 90px;
        margin-top: 3rem;
    }
    .nombre_user{
        color: #29b21a;
    }

    #map{
        max-width: 70%;
        max-height: 70vh;
    }
    .filtro{
        margin: 2rem 0.5rem;
        display: flex;
        justify-content: space-between;
    }
    .enlace{
        margin-top: 5rem;
        margin-right: 2rem;
    }

}
/*-------------------------------------------*/