/*Globales*/
/*Fuente*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*Roots*/
:root{
    --divlogin: 30%;
    --logoDiv: 35%;
    --fuente: Montserrat;
    --paddingSeccion: 100px;
    --paddingSubtitulo: 10px;
    --logoTam: 10%;
    --logoMargenIzq: 40px;
}

/*Añade en fondo a la pagina*/
body {
    background-image: url("../Login/images_login/fondo11.png");
}

/*Edita las letras de los input correspondientes*/
input[type=text], input[type=password] {
    padding: 12px 20px;
}

/*Específicos*/
/*Relleno en la parte de arriba de la sección*/
.login_inicioSesion {
    padding-top: var(--paddingSeccion);
}



/*El formulario se centra y ocupa el porcentaje de pagina puesto en el root*/
.login_01 {
    margin: 0 auto;
    width: var(--divlogin);
}

/*Flecha de salir*/
.login_landing {
    margin-left: var(--logoMargenIzq);
    margin-top: 15px;
    width: var(--logoTam);
    height: auto;
    text-align: left;
}

/*Redondea las esquinas del contenedor que va a incluir todos los elementos*/
.login_redondeado {
    position: relative;
    text-align: center;
    margin: 0 auto;
    background: white;
    margin-top: 10px;
    border: 2px solid grey;
    border-radius: 38px;
    padding-top: 60px;
    padding-bottom: 10px;
}

/*Hace un circulo en el contenedor de la imagen y se superpone*/
.login_circulo {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: white;
    border: 2px solid grey;
    top: -70px;
    padding: 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*Para que ocupe el 100% del contenedor en el que está incluido*/
.login_usuario {
    max-width: 90%;
}

/*Logo*/
.login_divlogo {
    width: 100%;
    position: absolute;
    height: auto;
    text-align: right;
    left: -11px;
    top: 10px;
}

.login_logo {
    width: var(--logoDiv);
}

/*Edita las casillas de usuario y contraseña*/
#login_casilla {
    padding: 12px;
    padding-left: 28px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*Añade dentro de la casilla de usuario una imagen y estilo al recuadro*/
.login_user {
    border-radius: 12px;
    background-image: url('../Login/images_login/usuario.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    height: 20px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Elimina los bordes del recuadro*/
.login_user input {
    width: 100%;
    border: none;
}

/*Elimina los bordes del recuadro al escribir*/
.login_user input:focus {
    outline: none;
}

/*Añade dentro de la casilla de contraseña una imagen y estilo al recuadro*/
.login_contraseña {
    border-radius: 12px;
    background-image: url('../Login/images_login/password.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    height: 20px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Elimina los bordes del recuadro*/
.login_contraseña input {
    width: 100%;
    border: none;
}

/*Elimina los bordes del recuadro al escribir*/
.login_contraseña input:focus {
    outline: none;
}

/*Añade estilo al botón para iniciar sesión*/
.login_boton {
    background-color: #8343A1;
    color: white;
    padding: 20px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    border-radius: 12px;
    font-size: 18px;
    font-family: var(--fuente);
    text-align: center;
}

/*Añade estilo al botón para iniciar sesión cuando el ratón está encima*/
.login_boton:hover {
    opacity: 0.8;
}

/*Añade estilo a la letra del final*/
a, a:link, a:visited, a:focus, a:hover, a:active {
    text-decoration: none;
    color: black;
}

.login_cuenta {
    font-family: var(--fuente);
    font-size: 14px;
    padding-bottom: var(--paddingSubtitulo);

}

.login_cuenta:hover {
    text-decoration: underline;
}
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-------------------OLVIDAR CONTRASENYA----------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Container que tiene todo lo relacionado con el olvido de la contrasenya*/
.container-olvido-contrasenya {
    display: flex;
    justify-content: center;
    align-content: center;

}

#olvido-contrasenya {
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    width: 0;
    font-size: 0;

}

/*Para hacer que se muestre*/
#olvido-contrasenya:target {
    visibility: visible;
    opacity: 1;
    transition:0.5s;
    font-size: 16px;

}

#olvido-contrasenya:target #recuperar-contrasenya {
    position: absolute;
    transform: rotate(0deg) translate(0%, -110%);
    visibility: visible;
    text-align: center;
    background: white;
    margin-top: auto;
    border: 2px solid grey;
    border-radius: 38px;
    padding-top: 60px;
    padding-bottom: 10px;
    box-shadow: 0 0 70px #000000;
    width: auto;
}

#texto-olvido-contrasenya {
    margin-top: 1em;
    font-family: var(--fuente);
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em;

}

/*Container de la x para cerrar la ventana*/
.cerrar-ico-cont {
    position: absolute;
    left: -5px;
    top: -5px;
    padding: 20px;
}

/*Container de el logo */
.login_divlogo_2 {
    position: absolute;
    left: 65%;
    top: 5px;
    width: 35%;
    height: 15%;
    text-align: right;
}

.login_logo_2 {
    width: 100%;
}

/*Campo donde se escribe el nombre de usuario*/
#user_casilla {
    padding: 12px;
    padding-left: 28px;
    width: auto;
    margin: 0 7% 5% 7%;
}

/*Boton de recuperar contraseña*/
#boton-recuperar-contrasenya {
    width: auto;
}

/*Hace la página responsive*/
@media (max-width: 2000px) {
    :root{
        --divlogin: 35%;
        --logoDiv: 25%;
    }
}

@media (max-width: 1200px) {
    :root{
        --divlogin: 45%;
    }
}

@media (max-width: 800px) {
    :root{
        --logoDiv: 35%;
    }
}

@media (max-width: 550px) {
    :root{
        --divlogin: 95%;
        --paddingSeccion: 150px;
        --paddingSubtitulo: 10px;
        --logoTam: 25%;
        --logoMargenIzq: 10px;
    }
    body {
        background-image: url("../Login/images_login/fondoX.png");
    }
}
@media (max-width: 650px) {
    #olvido-contrasenya:target #recuperar-contrasenya {
        width: 80%;
    }
}

@media (max-width: 700px) {
    :root{
        --logoTam: 25%;
        --logoMargenIzq: 10px;
    }
}

@media (max-width: 320px) {
    :root{
        --divlogin: 100% ;
        --paddingSeccion: 120px;
    }
}
