@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
input[type=text], select, textarea {
    margin-top: 6px;
    resize: vertical ;
    background: transparent;
    display: flex;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border-radius:0px ;
    width: 100%
}


input[type=submit] {
    background-color:transparent;
    border-radius:12px;
    border:3px solid #FFFFFF;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:montserrat;
    font-size:2rem;
    padding:3%;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;
    position:relative;
    top:1px;
}


#fname{
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 2rem;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    color: white;

}

#lname{
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 300%;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    border-radius: 1%;
    background-color: #8343a1;
    padding: 5%;
    padding-bottom: 10%;
    align-items: center;
}

#subject{
    background: transparent;
    border:2px solid #FFFFFF;
    color: white;
    font-size: 2rem;

}


.subtitulocont {
    color: #FFFFFF;
    font-family: "Yanone Kaffeesatz";
    font-size: 5rem;
    width: 90%;
    background: none;
    padding:0px 0px;
    box-sizing: border-box;
    margin-top: 00px;
    text-align: center;
    margin-bottom: 10%;

}
form label{
    color: #ffffff;
    font-family:montserrat;
    font-weight: bolder;
    font-size: 2rem;
}
#mail{
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 300%;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    color: white;

}
form{
    width: 80%;
    margin: auto;
    background: none;
    padding:10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    padding-bottom: 30px;
    font-family: Montserrat;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
submit{
    top:800px;
    right:900px
}
