@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

body{
	background-color: #8343a1;
	margin: 0;
	padding: 0;
	position: absolute;
}
ul{
	list-style: none;
	display: flex;
	align-items: center;
}
.encabezado{
	z-index: 100;
	position: fixed;
	width: 100%;
	top: 0;
}
.divLanding{
	border: 1px solid white;
	background-color: white;
	height: auto;
}
.encabezado{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
.item{
	margin: 0 auto;
}
.item.contacto{
	text-align: right;
	width: auto;
	position: relative;
	right: -150px;
	margin: 0 auto;
}
.logo{
	right: 20px;
	width: 100%;
	height: auto;
}
.cont{
	width: 40%;
	height: auto;
}
.login{ 
	float: right;
	margin-right: 100px;
	width: 20%;
	height: auto;
}
.titulo{
	font-family: "Yanone Kaffeesatz";
	font-size: 900%;
	color: white;
	text-align: center;
	margin: 30px;
	padding-top: 27%;
	padding-bottom: 10%;
	text-transform: uppercase;
}
.portadagira{
	background-color: white;
	transform: skewY(-10deg);
	height: 700px;
	position: relative;
}
.nogira{
	position: absolute;
	transform: skewY(10deg);
	width: 80%;
	top: 15%;
	height: auto;
	right: 0;
	left: 0;
	margin: 0 auto;
}
.subtitulo{
	padding-top: 10%; 
	font-family: "Montserrat";
	font-size: 167%;
	font-weight: bold;
	text-align: center;
	color: white;
	margin-left: 20px;
	margin-right: 20px;
}
.div_info{
	text-align: center;
	padding-top: 10%;
}
.info{
	font-family: "Montserrat";
	font-size: 100%;
	border-radius: 55px;
	padding: 40px;
	color: #8343A1;
	background-color: whitesmoke;
	text-decoration: none;
}
.centrar_flecha{
	text-align: center;
	padding-top: 6%;
}
.flecha_bajar{
	left: 0;
	right: 0;
	width: 15%;
	height: auto;
}
/* justify-content: ;  ->  Ajustar contenido en el eje horizontal */

/* --------------------FOOTER----------------------------*/
.piePagina{
	background-color: white;
	width: 100%;
	text-align: center;
	display: flex;
}
#contenedorFooter{
	display: flex;
	flex-direction: column;
	margin-right: auto;
	margin-left: 28%;
}
.textoFooter{
	flex: 1 1 0;
	text-decoration: none;
	color: darkgrey;
}
.copyright{
	flex: 1 1 0;
	text-decoration: none;
	color: darkgrey;
	font-size: 0.85rem;
}
#imagenFooter{
	height: 5rem;
	width: 10rem;
	order: -1;
}