@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

/*Hacer que el scroll sea suave*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background-color: #8343a1;
    padding: 0;
    max-width: 1600px;
}

.encabezado {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 4rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.LaningPage {
    position: relative;
    background-color: #8343a1;
    z-index: 100;
}

.divlogoHeader {
    display: flex;
    width: fit-content;
}

.contactoyLogin {
    display: flex;
    margin-right: 2rem;
}

.item {
    margin: 0 1rem;
    width: fit-content;
    max-width: 4rem;
    height: fit-content;
}

.item-contacto {
    display: inline;
    text-align: right;
    margin: 0 auto;
    max-height: 4rem;
}

.logo {
    right: 20px;
    max-width: 7rem;
    margin-top: 6px;
}

.cont {
    max-width: 4rem;
    margin-left: auto;
    margin-top: 3px;
}

.login {
    float: right;
    width: 3rem;
    margin-top: 5px;
}

.titulo {
    font-family: "Yanone Kaffeesatz";
    font-size: 5rem;
    color: white;
    text-align: center;
    margin: 30px;
    padding-top: 7%;
    padding-bottom: 10%;
    text-transform: uppercase;
}

.subtitulo {
    padding-top: 15%;
    font-family: "Montserrat";
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.portadagira {
    background-color: white;
    transform: skewY(-5deg);
    height: 33rem;
    position: relative;
}

.nogira {
    transform: skewY(5deg);
    position: absolute;
    width: 15rem;
    top: 20%;
    height: auto;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.div_info {
    text-align: center;
    padding-top: 10%;
}

.info {
    font-family: "Montserrat";
    font-size: 3rem;
    border-radius: 55px;
    padding: 40px;
    color: #8343A1;
    background-color: whitesmoke;
    text-decoration: none;
}

.info:hover {
    background-color: #ececec;
    color: #d791fc;
}

#Servicios {
    transition: 1s;
}

.centrar_flecha {
    text-align: center;
    padding-top: 6%;
}

.flecha_bajar {
    left: 0;
    right: 0;
    width: 3rem;
    height: auto;
  
}

/* justify-content: ;  ->  Ajustar contenido en el eje horizontal */

/* --------------------FOOTER----------------------------*/
#foter {
    position: absolute;
    width: 100%;
    z-index: 5;
}

.piePagina {
    background-color: white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#contenedorFooter {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 28%;
}

#tituloFoter {
    font-size: 2rem;
}

.textoFooter {
    font-size: 1.5rem;
    flex: 1 1 0;
    display: block;
    text-decoration: none;
    color: darkgrey;
}

.copyright {
    flex: 1 1 0;
    text-decoration: none;
    color: darkgrey;
    font-size: 1rem;
}

#imagenFooter {
    height: 5rem;
    width: 10rem;
}

/* ----- BOTON SUBIR ----- */

#flechaSubir {
    display: inline;
    text-align: center;
    position: fixed;
    z-index: 10;
    bottom: 125px;
    right: 1%;
    height: 100px;
    width: 100px;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #a7a7a7;

}

#flechaSubir {
    background-color: rgba(198, 116, 234, 0.4);
}

#imagenSubir {
    position: relative;
    left: 2px;
    width: 100px;
    height: 100px;
}

