@media (max-width: 700px ) {
    /* HEADER */
    .encabezado {
        z-index: 100;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 4rem;
        display: flex;
        justify-content: space-between;
    }

    .contactoyLogin {
        margin-left: 100px;
    }

    .logo {
        min-width: 5rem;
    }

    .cont {
        width: 2.5rem;
        margin-top: 10px;
    }

    .login {
        width: 2.5rem;
        margin-top: 9px;
    }

    /* FIN HEADER */
    .portadagira {
        background-color: white;
        transform: skewY(-5deg);
        height: 15rem;
        position: relative;
    }

    .nogira {
        max-width: 40%;
        max-height: 75%;
    }

    .titulo {
        margin-top: 5rem;
        font-size: 4rem;
        padding-top: 1%;
        padding-bottom: 4%;
    }

    .subtitulo {
        font-size: 1.5rem;
        position: relative;
        top: -4rem;
    }

    .info {
        font-size: 1rem;
        border-radius: 25px;
        position: relative;
        top: -5rem;
        padding: 1.5rem;
        box-shadow: 1px 1px 5px wheat;
    }

    .flecha_bajar {
        position: relative;
        top: -4rem;
        max-width: 3rem;
    }

    #img-portada {
        width: 100%;
        height: 50%;
    }

    /* FIN PRIMERA PÁGINA */
    #flechaSubir {
        width: 3rem;
        height: 3rem;
    }

    #imagenSubir {
        position: relative;
        left: 2px;
        width: 3rem;
        height: 3rem;
    }

    .imagenes {
        width: 200px;
        height: 200px;
    }

    .sensores {
        height: 700px;
    }

    .tituloservicios {
        font-size: 4rem;
    }

    .subtitulosensores {
        font-size: 3rem;
    }

    .textom {
        font-size: 1rem;
        margin: 1rem;
    }

    .textow {
        font-size: 1rem;
        margin: 1rem;
    }

    .ajustar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*FAQS*/
    .preguntas {
        padding-top: 7%;
        padding-bottom: 5%;
    }

    .texto-pregunta {
        font-size: 2rem;
    }


    .flecha-mas {
        max-width: 55%;
    }


    .texto-respuesta {
        display: block;
        width: 80%;
        text-align: center;
        align-self: auto;
    }

    .respuesta {
        display: flex;
        justify-content: center;
        font-size: 0.5rem;

    }

    .subtitulocont {
        font-size: 4rem;
    }

    .tit-preg {
        margin: 2rem;
    }

    /*CONTACTO*/
    .form {
        max-width: 85%;
        padding-bottom: 10%;
    }

    form label {
        font-size: 1.5rem;
    }

    #fname {
        font-size: 1rem;
    }

    #lname {
        font-size: 1rem;
    }

    #mail {
        font-size: 1rem;
    }

    #subject {
        font-size: 1rem;
    }

    #boton-enviar {
        font-size: 1rem;
        width: 40%;
    }

    /*FOOTER*/
    .piePagina {
        height: 10%;
    }

}

@media (min-width: 1000px) {
    /* HEADER */
    #img-portada {
        width: 400px;
        height: 250px;
    }

    .portadagira {
        background-color: white;
        transform: skewY(-5deg);
        height: 20rem;
        position: relative;
        top: -3rem;

    }

    /* FIN HEADER */
    /* PRIMERA PÁGINA */
    .titulo {
        font-size: 7rem;
    }

    .nogira {
        width: 25rem;
    }

    .subtitulo {
        position: relative;
        top: -12rem;
        font-size: 2rem;
    }

    .info {
        font-size: 2rem;
        border-radius: 30px;
        position: relative;
        top: -15rem;
        box-shadow: 1px 1px 5px wheat;
    }

    .flecha_bajar {
        position: relative;
        top: -15rem;
        width: 4rem;
    }

    /* FIN PRIMERA PÁGINA */
    #flechaSubir {
        width: 3rem;
        height: 3rem;
    }

    #imagenSubir {
        position: relative;
        left: 2px;
        width: 3rem;
        height: 3rem;
    }


}

/*SECCION SERVICIOS*/
@media (min-width: 1000px) {
    .ajustar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .flecha-mas-cont {
        display: flex;
        height: auto;
        justify-content: center;
        flex: 0.4 1 0;
    }

    .flecha-mas {
        max-width: 25%;
    }

    .preguntas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-bottom: 20%;
    }

}

/*Adaptar a pantallas grandes la LP*/

@media (min-width: 1250px) {
    .titulo {
        padding-bottom: 4%;

    }

    #img-portada {
        position: absolute;
        right: 50%;
    }

    #texto-reclamo {
        position: absolute;
        color: #8343a1;
        top: 8%;
        right: 05%;
        width: 30%;
    }

    .div_info {
        position: absolute;
        top: 75%;
        right: 40%;
    }

    .info {
        box-shadow: 1px 1px 20px grey;
    }

    .centrar_flecha {

        position: absolute;
        top: 120%;
        right: 47%;

    }
}