/*-------------------------------------------*/
/*-------------------------------------------*/

/*------------------RESPONSIVE---------------*/
@media(max-width:700px){
    #map{
        width: 70%;
        height: 70vh ;
    }
    .filtro{
        margin: 2rem 0.5rem;
        display: flex;
        justify-content: space-between;
    }
    .triangulo{
        border-top:40px solid white;
        border-right:250px solid #29B21A;
        border-left:250px solid #29B21A;
    }
    .triangulo2{
        border-top:40px solid #29B21A;
        border-right:250px solid white;
        border-left:250px solid white;
    }
    .nombre_mapa{
        font-size: 2rem;
    }
    #mapas{
        margin-right: 47px;
        padding: 4%;
    }
}
/*-------------------------------------------*/