
/*-------------------------------------------*/
.triangulo{
    border-top:70px solid white;
    border-right:700px solid #29B21A;
    border-left:700px solid #29B21A;
    opacity: 0.4;
    height:0;
    width:0;
}
.triangulo2{
    border-top:70px solid #29B21A;
    border-right:700px solid white;
    border-left:700px solid white;
    opacity: 0.4;
    height:0;
    width:0;
}
#mapass{
    padding: 1.5%;
    background-color: #c5ffbc;
    box-shadow: 0 0 20px grey;
}
/*------------------MAPAS--------------------*/
.recuadro_mapa{
    position: relative;
    background: rgba(41, 178, 26, 0.4);
}
.editar{
    display: flex;
    align-items: center;
    margin: 0 3rem;

}
.nombre_mapa{
    margin: 1rem auto;
    font-size: 3rem;
}
.ediatar_imagen{
    width: 3rem;
    margin: 1rem auto;
}

#map{
    width: 800px;
    height: 90vh;
    border: black 1px solid;
    margin: auto auto;
    border-radius: 5px;
}
.buscar_sondas{
    text-align: center;
}
input{
    border-radius: 5px;
}
/*-------------------------------------------*/

/*-------------------------------------------*/
.container_menu {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 40px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
/*Para hacer que se muestre*/
.container_menu:target {
    visibility: visible;
    opacity: 1;
}
.container_menu:target .menu {
    position: fixed;
    top: 10%;
    left: 50%;
    margin: 20% auto;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
}
/*ASPECTO DE LA CAJA */
/*-----------------Te lo comento porque hace cosas con mi codigo uwu---------------------------*/
/*.menu {
    width: 100%;
    height: auto;
    max-width: 40%;
    max-height: 80%;
    padding: 2%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background: rgb(240, 240, 240);
    visibility: hidden;
    top: 180%;
    left: 180%;
    transform: rotate(30deg) translate(80%, -580%) scale3d(-1, -1, 1);
    transform: matrix();
    transition: all 1s;
    border-radius: 20px;
}
.texto_menu{

}*/
/*-------------------------------------------*/

/*------------------RESPONSIVE---------------*/
@media(max-width:500px){
    #map{
        max-width: 20rem;
        max-height: 20rem;
    }
    #map2{
        max-width: 20rem;
        max-height: 20rem;
    }
    .filtro{
        margin: 2rem 0.5rem;
        display: flex;
        justify-content: space-between;
    }
    .triangulo{
        border-top:40px solid white;
        border-right:250px solid #29B21A;
        border-left:250px solid #29B21A;
    }
    .triangulo2{
        border-top:40px solid #29B21A;
        border-right:250px solid white;
        border-left:250px solid white;
    }
    .nombre_mapa{
        font-size: 2rem;
    }
}
/*-------------------------------------------*/