/*Container que tiene todo lo relacionado con el olvido de la contrasenya*/
.container-olvido-contrasenya {
    display: flex;
    justify-content: center;
}

#olvido-contrasenya {
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    width: 50%;

}

/*Para hacer que se muestre*/
#olvido-contrasenya:target {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#olvido-contrasenya:target #recuperar-contrasenya {
    position: absolute;
    transform: rotate(0deg) translate(0%, -110%);
    visibility: visible;
    text-align: center;
    background: white;
    margin-top: 40px;
    border: 2px solid grey;
    border-radius: 38px;
    padding-top: 60px;
    padding-bottom: 10px;
    box-shadow: 0 0 70px #000000;
}

#texto-olvido-contrasenya {
    margin-top: 1rem;
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
}

/*Container de la x para cerrar la ventana*/
.cerrar-ico-cont {
    position: absolute;
    left: -5px;
    top: -5px;
    padding: 20px;
}

/*Container de el logo */
.login_divlogo_2 {
    position: absolute;
    left: 65%;
    top: 5px;
    width: 35%;
    height: 15%;
    text-align: right;
}

.login_logo_2 {
    width: 100%;
}
#user_casilla{
    padding: 12px;
    padding-left: 28px;
    width: 80%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 5%;
}
