@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

:root {
    --colortextos: white;
    --fondo: #29b21a;
    --clientes: #9d9d9d;
}

/*
-----------------------------------------------
HEADER
-----------------------------------------------
*/
ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.header {
    margin: 0 auto;
}

.encabezado {
    z-index: 100;
    position: fixed;
    width: 100%;
    left: 0;
}

.header_admin {
    height: auto;
    background: var(--colortextos);
}

.admin {
    display: flex;
    padding-bottom: 0;
}

.logo {
    right: 20px;
    width: 30%;
    height: auto;
}

.salir {
    float: right;
    margin-right: 100px;
    width: 10%;
    height: auto;
}

.imagen {
    width: 17%;
    height: auto;
    margin: 1rem 1rem;
    border-radius: 50%;

}

.nombre_cliente {
    font-family: "Yanone Kaffeesatz";
    font-size: 50px;
    margin-left: 2rem;
    color: var(--fondo);
}

/*-----------------------------------------------*/
/*
-----------------------------------------------
Iconos
-----------------------------------------------
*/
.seccion_clientes {
    color: var(--fondo);
}

h3 {
    margin-left: 15rem;
}

.añadir_cosas {
    text-align: center;
    background: var(--fondo);
    display: flex;
    justify-content: space-around;
}

.añadir {
    height: auto;
    width: 4rem;
}

/*-----------------------------------------------*/
/*
-----------------------------------------------
Clientes
-----------------------------------------------
*/
.cliente {
    background: var(--clientes);
    margin: 2rem 7rem;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
}

.texto {
    color: var(--colortextos);
    font-size: 1.5rem;
    align-items: center;
}

.flecha_texto {
    height: auto;
    width: 3rem;
    background: var(--clientes);
    border: none;
    padding: 0;
    margin: 0;
}


#cliente1, #cliente2, #cliente3, #cliente4 {
    max-width: 70%;
    padding: 2rem;
    margin: -5rem auto 2.5rem auto;
    background: var(--clientes);
    border-radius: 0 0 30px 30px;
    font-family: "Yanone Kaffeesatz";
    text-align: center;
    font-size: 1.5rem;
    color: white;
}


@media (max-width: 700px){
    .salir{
        width: 20%;
        margin-right: 60px;
    }
    .nombre_cliente{
        font-size: 2rem;
        margin-left: 0;
        margin-top: .5rem;
    }
    .logo{
        width: 65%;
    }
    .añadir_cosas{
        margin-right: 2rem;
    }
    .añadir{
        width: 2.5rem;
    }
    .cliente{
        margin: .5rem 3rem .5rem .5rem;
        padding: .5rem .5rem;
    }
    .texto{
        font-size: 1.3rem;
    }

    .flecha_texto{
        width: 2rem;
    }
    h3{
        margin-left: 1rem;
        font-size: 1.3rem;
    }
    p{
        padding-top: 1rem;
    }
}