# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\xegea\OneDrive\Escritorio\XAVI UNIVERSIDAD\Primer Curso\Proyecto diseño y prog. Web\Re_Re_Proyecto-G02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
